<!-- Modal-->
<div id="ID_WEMS_detailModal" ng-app="wemsDetailLayoutApp" ng-controller="WemsDetailLayoutController as wemsDetailLayoutVM" role="dialog" class="modal fade" style="resizable=">
  <div id="ID_WEMS_detailModalDialog" style="width: auto; height: auto; display:table" class="modal-dialog">
    <!-- Modal content-->
    <div style="height: 100%; overflow-x: hidden; overflow-y: auto" class="modal-content">
      <div style="height: 3%; background-color: #337AB7; color:#FFF; border-bottom:2px dashed #337AB7" class="modal-header">
        <button type="button" data-dismiss="modal" class="close">×</button>
        <h4 style="text-align: left" class="modal-title">Hi-PAS</h4>
      </div>
      <div style="height: 94%" class="modal-body">
        <div style="height: 100%; width: auto; padding: 0" class="container">
          <ul class="nav nav-tabs" id="ID_WEMS_detailPageTab">
            <li class="active">
              <a  href="#ID_WEMS_analysisSection" data-toggle="tab" style="padding-top: 12px; padding-bottom: 12px">Anaysis</a>
            </li>
            <li>
              <a href="#ID_WEMS_managementSection" data-toggle="tab" style="padding-top: 12px; padding-bottom: 12px">Mangement</a>
            </li>
          </ul>
        </div>
        <!--
          <div style="height: 100%" class="sidebar-nav">
            <div role="navigation" style="border-radius: 0px" class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target=".sidebar-navbar-collapse" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div style="padding: 0; max-height: none" class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul style="float: none" class="nav navbar-nav">
                  <li style="float: none; display: block" class="active">
                    <a href="#section_analysis" data-toggle="tab" style="padding-top: 12px; padding-bottom: 12px">Anaysis</a>
                  </li>
                  <li style="float: none; display: block">
                    <a href="#section_management" data-toggle="tab" style="padding-top: 12px; padding-bottom: 12px">Mangement</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          -->
        <div style="height: 100%" class="tab-content">
          <div id="ID_WEMS_analysisSection" style="height: 100%; width: 1500px" class="tab-pane active fade in content">
            <!-- wems_detail_analysis.html start-->
            <% include ./wems_detail_analysis.ejs %>
            <!-- wems_detail_analysis.html end-->
          </div>
          <div id="ID_WEMS_managementSection" style="height: 100%; width: 720px" class="tab-pane fade">
            <!-- wems_detail_management.html start-->﻿
            <% include ./wems_detail_management.ejs %>						
              <!-- wems_detail_management.html end-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/wems/wemsDetailLayoutController.js"></script>
</div>