<!-- Modal-->
<style type="text/css">
  .red {
  color: red;
  }

  .goldenRod {
  color: goldenRod;
  }
</style>
<div id="ID_WEMS_alarmSummaryModal" ng-app="wemsAlarmSummaryApp" ng-controller="WemsAlarmSummaryController as wemsAlarmSummaryVM" role="dialog" class="modal fade" style="resizable=">
  <div id="ID_WEMS_alarmSummaryDialog" style="width: auto; height: auto; display:table" class="modal-dialog">
    <!-- Modal content-->
    <div style="height: 100%; overflow-x: hidden; overflow-y: auto" class="modal-content">
      <div style="height: 3%; background-color: #337AB7; color:#FFF; border-bottom:2px dashed #337AB7" class="modal-header">
        <button type="button" data-dismiss="modal" class="close">×</button>
        <h4 style="text-align: left" class="modal-title">Hi-PAS</h4>
      </div>
      <div id="ID_WEMS_summaryAlarmLevel" style="width:805px; height: 94%" class="modal-body">
        <div class="container" style="padding: 0; margin:1px; text-align: left" >
          <form class="form-inline" role="form">
            <div class="form-group">
              <div class="btn-group" style="margin:2px">
                <label class="btn btn-default">
                  <input name="alarmLevel" type="radio" ng-change="wemsAlarmSummaryVM.onChangeAlarmLevel()" ng-model="wemsAlarmSummaryVM.selectedAlarmLevel" value="-1"> All
                </label>
                <label class="btn btn-default">
                  <input name="alarmLevel" type="radio" ng-change="wemsAlarmSummaryVM.onChangeAlarmLevel()" ng-model="wemsAlarmSummaryVM.selectedAlarmLevel" value="0"> Info
                </label>
                <label class="btn btn-default">
                  <input name="alarmLevel" type="radio" ng-change="wemsAlarmSummaryVM.onChangeAlarmLevel()" ng-model="wemsAlarmSummaryVM.selectedAlarmLevel" value="1"> Warn
                </label>
                <label class="btn btn-default">
                  <input name="alarmLevel" type="radio" ng-change="wemsAlarmSummaryVM.onChangeAlarmLevel()" ng-model="wemsAlarmSummaryVM.selectedAlarmLevel" value="2"> Error
                </label>
              </div>
            </div>
          </form>
        </div>
        <div id="ID_WEMS_summaryAlarmTable" style="text-aling:center">
          <table style="border: 1px solid grey; border-collapse: collapse; margin-bottom: 15px; padding: 5px">
            <tr style="height: 25px; background-color: #f1f1f1">
              <th style="border: 1px solid grey; border-collapse: collapse; padding: 5px; text-align:center; width: 100px">Level</th>
              <th style="border: 1px solid grey; border-collapse: collapse; padding: 5px; text-align:center; width: 400px">Message</th>
              <th style="border: 1px solid grey; border-collapse: collapse; padding: 5px; text-align:center; width: 100px">Device</th>
              <th style="border: 1px solid grey; border-collapse: collapse; padding: 5px; text-align:center; width: 200px">Date</th>
            </tr>
            <tr style="height: 25px" ng-repeat="alarmDataRow in wemsAlarmSummaryVM.alarmDataRows track by $index">
              <td style="border: 1px solid grey; border-collapse: collapse; padding: 5px; text-align:center">{{alarmDataRow.Level}}</td>
              <td ng-class='{red : alarmDataRow.LevelCode == 2, goldenRod: alarmDataRow.LevelCode == 1}' style="border: 1px solid grey; border-collapse: collapse; padding: 5px; text-align:left">{{alarmDataRow.Message}}</td>
              <td style="border: 1px solid grey; border-collapse: collapse; padding: 5px; text-align:center">{{alarmDataRow.Device}}</td>
              <td style="border: 1px solid grey; border-collapse: collapse; padding: 5px; text-align:center">{{alarmDataRow.Date}}</td>
            </tr>
          </table>
        </div>
        <div style="width: 100%; text-align: center">
          <button id="ID_WEMS_moreAlarmButton" class="btn btn-default" ng-click="wemsAlarmSummaryVM.onShowMoreAlarm()">더보기</button>
        </div>
      </div>
    </div>
  </div>
  <!-- wemsAnalysisController.js start-->
  <script>
    <% include ./wemsAlarmSummaryController.js %>
  </script>
</div>