doctype html
html
  head
    title PMS
    link(rel='stylesheet', href='/bootstrap_v3.3.7/css/bootstrap.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='/bootstrap_v3.3.7/js/bootstrap.min.js')    
    meta(charset="utf-8")
    style(type="text/css").
        html{
            height:100%
        }
        body {
            display:table; height: 100%; width:100%
        }  
  body
    div#header(style='display: table-row; height: 10%; width:100%;')
        div(style='margin: 0px; height: 100%')            
            include PMSHead 
    div#content(style='display: table-row; height: 85%; width:100%;')        
        div#left_content(style='height: 100%; width:10%; float:left; border:2px #f99 solid')
            include PMSside
        div#right_content(style='height: 100%; width:90%; float:right;border:2px #f99 solid')
            include BodyFrame/BodyIndex
    div#footer(style='display: table-row; height: 5%; width:100%; border:2px #f99 solid')
                h6 CopyRight                                         