<div ng-app="pmsConfMachineMaintItemApp" ng-controller="PMSConfMachineMaintItemController as pmsConfMachineMaintItemVM" class="container">
  <div class="container-fluid"> 
    <div>
      <button type="button" data-toggle="modal" data-target="#pmsfacilitydetail" class="detail" ng-click="">설비</button>
      <!-- facilitydetail.ejs start-->
      <% include ./component/facilitydetail.ejs %>
      <!-- facilitydetail.ejs end-->
    </div>
   
    <button type="button" ng-click="pmsConfMachineMaintItemVM.getAllfacility()">설비가져오기</button>
    <button type="button" data-toggle="modal" data-target="#ID_PMS_PmscheckList" class="detail" ng-click="">점검설정</button>
      <!-- facilitydetail.ejs start-->
      <% include ./component/checkList.ejs %>
      <!-- facilitydetail.ejs end-->
    <div id="Tree" style="margin: 0px; height: 90%; width:20%; float:left; border:2px #a99 solid">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <span class="glyphicon glyphicon-grain"></span>
              <a data-toggle="collapse" href="#machinecollapse1">Facility</a>
              <span class="glyphicon glyphicon-grain"></span>
            </h4>
          </div>
          <div id="machinecollapse1" class="panel-collapse collapse">
            <ul ng-repeat="one in  pmsConfMachineMaintItemVM.ficility" class="list-group">
              <li class="list-group-item">
                <a data-toggle="collapse" ng-click="pmsConfMachineMaintItemVM.clickedfacilityNum(one.FacilityId)" href="#{{one.FacilityId}}" data-target="#{{one.FacilityId}}">{{one.FacilityId}}</a>
              </li>
              <div id="{{one.FacilityId}}" class="panel-collapse collapse">
                <ul class="list-group">
                  <li class="list-group-item">
                    <li class="list-group-item">AC100</li>
                    <li class="list-group-item">AC101</li>
                  </li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div><!--tree-->
  </div>
</div>

  
<!-- pmsConfMachineMaintItemController.js start-->
<script>
  <% include ./pmsConfMachineMaintItemController.js %>
</script>
<!-- pmsConfMachineMaintItemController.js start-->