            <div id="header" style="margin: 0px; height: 10%; width:100%; float:top;border:2px #a99 solid">
              <!-- top.ejs start-->
		      <% include ./top.ejs %>
              <!-- top.ejs end-->
            </div>
            <div id="Tree" style="margin: 0px; height: 90%; width:20%; float:left; border:2px #a99 solid">
              <!-- tree.ejs start-->
		      <% include ./tree.ejs %>
              <!-- tree.ejs end-->
            </div>
            <div id="grid" style="margin: 0px; height: 90%; width:80%; float:right;border:2px #a99 solid">
              <!-- grid.ejs start-->
			  <% include ./grid.ejs %>			  
              <!-- grid.ejs end                 -->
            </div>