                  <script src="/pmscomponent/tree.js"></script>

                  <div ng-controller="GridMainCtrl">
                    <div ui-grid="gridOptions" ui-grid-auto-resize="" class="grid"></div>
                  </div>