<!DOCTYPE html>
<html>

  <head>
    <title></title>
  </head>

  <body>
    <button ng-click="onMotherDataLoad()">새로고침</button>
    <table style="table-layout:fixed; width:100%;" class="table-bordered table-lg text-left">
      <thead></thead>
      <tr>
        <th colspan="1" style="text-align:center" class="text-left col-lg-1">번호</th>
        <th colspan="1" style="text-align:center" class="text-left col-lg-1">코드</th>
        <th colspan="2" style="text-align:center" class="text-left col-lg-2">제목</th>
        <th colspan="1" style="text-align:center" class="text-left col-lg-1">Level</th>
        <th colspan="1" style="text-align:center" class="text-left col-lg-1">주기</th>
        <th colspan="1" style="text-align:center" class="text-left col-lg-1">점검/조치</th>
        <th colspan="2" style="text-align:center" class="text-left col-lg-2">+조치</th>
      </tr>
      <tbody>모수 List ({{mothersRow.length}})</tbody>
      <tr ng-repeat="one in mothersRow">
        <th colspan="1" style="text-align:center">{{$index+1}}</th>
        <th colspan="1" style="text-align:center">
          <a herf="#">{{one.Code}}</a>
        </th>
        <th colspan="2" style="text-align:center">{{one.Title}}</th>
        <th colspan="1" style="text-align:center">{{one.Level}}</th>
        <th colspan="1" style="text-align:center">{{distinguishTimeGroup(one.Code)}}</th>
        <th colspan="1" style="text-align:center">{{one.Type}}</th>
        <th colspan="2" style="text-align:center">
          <div ng-repeat="one_rel in one.Relation">
            <span>
              <a herf="#">{{one_rel}}</a>
            </span>
          </div>
        </th>
      </tr>
    </table>
  </body>

</html>