
                  <h6>Hi_PAS\uploads안에 data1.xlsx file을 sample로 써보세요.파일선택 후 upload. (안읽히면 문서 암호화 해제 후 사용)</h6>
                  <form id="uploadForm" enctype="multipart/form-data" action="upload" method="post">
                    <div style="border: 1px solid gold; float: left;">
                      <input type="file" name="file">
                    </div>
                    <dive style="border: 1px solid gold; float: center;">
                      <input style="vertical-align: right" type="submit" value="Upload" name="submit">
                    </dive>
                  </form>
