<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
      <title></title>
    </head>
  <body>
    <script>
      $(document).ready(function () {
      $('#myfile').change(function (evt) {
      
		  $("#filesubmit").trigger('click');
		  });
		  $("#filesubmit").click(function (evt) {
		  });
      });
    </script>
    <h6>Hi_PAS\uploads안에 data1.xlsx file을 sample로 써보세요.파일선택 후 upload. (안읽히면 문서 암호화 해제 후 사용)</h6>
    <form  id="uploadForm" enctype="multipart/form-data">
      <div style="border: 1px solid gold; float: left;">
        <input id='myfile'type="file" onchange="angular.element(this).scope().file_changed(this)">
          <div id="DataLoad"></div>
        </div>
      <dive style="border: 1px solid gold; float: center;">
        <input style="vertical-align: right" ng-click="onMotherDataLoad()" type="submit" value="Upload" name="submit" id="filesubmit">
        </dive>
    </form>
  </body>
</html>
