doctype html
html
  head
    title
    base(href='/')
    script(src='/dist/eaTreeView-tpls.min.js')
    script(src='/component/tree.js')
  body
   div(ng-controller='basicController')
     ea-tree-view(items='model.simpsons', is-root='true', callback='go')
     span
         b Selected Node
         |  : model
  