                  <script src="/dist/eaTreeView-tpls.min.js"></script>
                  <script src="/pmscomponent/tree.js"></script>

                  <div ng-controller="basicController">
                    <ea-tree-view items="model.simpsons" is-root="true" callback="go"></ea-tree-view><span><b>Selected Node</b> : model</span>
                  </div>