<div class="modal fade" id="ID_PDAS_pdasAnalysisModal" role="dialog"  style='overflow: auto'>
	<div class="modal-dialog " style="width:1200px; height:1400px; background-color: #646464;">
		<div  ng-app="pdasAnalysisApp" ng-controller="pdasAnalysisController as pdasAnalysisVM" class="modal-contents" style="width:100%; height:100%">
			<div class="modal-header" style="height: 4%; background-color: #ffffff; color:#FFF">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-10">
							<h3 class="modal-title" style="text-align:left; color:black">PdAS</h3>
						</div>
						<div class="col-sm-1">
							<button class="btn btn-primary btn-sm" id='ID_PDAS_configSettingModalBtn'type="button" >
								<span class="glyphicon glyphicon-cog"></span>
							</button>
						</div>
						<div class="col-sm-1">
							<button class="close" data-dismiss="modal" type="button">x</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body" style="height:93%;">
				<div class="container-fluid" style="height:100%">
					<div class="row" style="height:5%">
						<div class="col-md-3"></div>
						<div class="col-md-9" style="float:right;">
							<div class="col-md-4">
								<div class="col-md-1">
									<label style="color:white">From</label>
								</div>
								<div class="col-md-9 form-group" style="float:right">
										<div class="input-group date" id="ID_PDAS_analysisDateTimePickerFrom" style="width:140px;">
												<input class="form-control" id="ID_PDAS_analysisDateFrom" type="text"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
										</div>
								</div>
									<input id="ID_PDAS_dateFromChangeFlg" type="hidden" value="false">
							</div>
							<div class="col-md-5">
								<div class="col-md-1">
										<label style="color:white"> To </label>
								</div>
								<div class="col-md-7 form-group">
									<div class="input-group date" id="ID_PDAS_analysisDateTimePickerTo" style="width:140px">
										<input class="form-control" id="ID_PDAS_analysisDateTo" type="text"><span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
									</div>
								</div>
								<input id="ID_PDAS_dateToChangeFlg" type="hidden" value="false">
								<div class="col-md-3">
									<button class="btn btn-primary sm" id='ID_PDAS_analysisSearch' ng-click="pdasAnalysisVM.changeAnalysisDate()" type="button"> Search </button>
								</div>
							</div>
							<div class="col-md-3">
								<div class="col-md-4">
										<label style="color:white; ">호기</label>
								</div>
								<div class="col-md-8">
									<select class="form-control" id="ID_PDAS_machine" ng-change="pdasAnalysisVM.filteringCurrentData()" ng-model="pdasAnalysisVM.selectedMachine" ng-options="x.title for x in pdasAnalysisVM.Machines"></select>
								</div>
							</div>
						</div>
					</div>
					<div class="row" style="height:2%">
						<span class="label label-primary" style='font-size:14px'>Trend분석(전류)</span>
					</div>
					<div class="row" style="height:28%; background-color:#486268">
						<div class="col-sm-3" style="height:10%; float:right">
							<label class="checkbox-inline" style="color:white; font-size:70%">주행모터</label>
							<input ng-change="pdasAnalysisVM.filteringCurrentData()" ng-false-value='false' ng-model="pdasAnalysisVM.motorType.DrivingMotor" ng-true-value="DrivingMotor" type="checkbox">
							<label class="checkbox-inline" style="color:white; font-size:70%">승강모터</label>
							<input ng-change="pdasAnalysisVM.filteringCurrentData()" ng-false-value='false' ng-model="pdasAnalysisVM.motorType.HoistingMotor" ng-true-value="HoistingMotor" type="checkbox">
							<label class="checkbox-inline" style="color:white; font-size:70%">포크모터</label>
							<input ng-change="pdasAnalysisVM.filteringCurrentData()" ng-false-value='false' ng-model="pdasAnalysisVM.motorType.ForkMotor" ng-true-value="ForkMotor" type="checkbox">
						</div>
						<div style="height:90%">
							<canvas id="ID_PDAS_currentTrendChart" style="height:100%; width:90%; margin:10"></canvas>
						</div>
					</div>
					<div class="row" style="height:1%"></div>
					<div class="row" style="height:35%;">
						<div class="col-md-6" style="height:100%; border-Right:15px solid #646464;">
								<div class="row" style="height:6%;">
									<span class="label label-primary" style='font-size:14px'> 설비종합효율(%) </span>
								</div>
								<div class="row" style="height:94%;background-color:#486268;">
										<div class="col-md-7" style="height:100%;">
												<div class="row" style="height:10%;">
														<div class="col-md-12" style="margin-top:4px">
																<span>
																	<label style="color:white; font-size: 16px"> 종합효율:
																	<label id='ID_PDAS_oeeSummary'style="color:#e67300; font-size: 20px"> {{pdasAnalysisVM.oeeInfo.value}}%
																</label></label></span>
														</div>
												</div>
												<div class="row" style="height:90%;">
														<div class="col-md-12" id='ID_PDAS_OEEChart'style="height:100%;">
															<br>
															<ng-gauge size="280" duration="500" type="full" thick="25" value="pdasAnalysisVM.oeeInfo.value" cap="round" label="Total" 
																thresholds='pdasAnalysisVM.oeeInfo.threshold' foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
														</div>
												</div>
										</div>
										<div class="col-md-5" style="height:100%;">
												<div class="row" style="height:33%">
														<div class="col-md-12" id="ID_PDAS_balancingRateChart" style="height:100%; margin-top:4px;">
															<ng-gauge size="170" duration="500" type="arch" thick="15" value="pdasAnalysisVM.balancingRateInfo.value" cap="round" label="분배효율"
																thresholds='pdasAnalysisVM.balancingRateInfo.threshold' foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
														</div>
												</div>
												<div class="row" style="height:33%;">
														<div class="col-md-12" id='ID_PDAS_yieldChart' style="height:100%;">
															<ng-gauge size="170" duration="500" type="arch" thick="15" value="pdasAnalysisVM.yieldInfo.value" cap="round" label="양품율"
																thresholds='pdasAnalysisVM.yieldInfo.threshold' foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
														</div>
												</div>
												<div class="row" style="height:33%;">
														<div class="col-md-12" id="ID_PDAS_totalIStockRateChart" style="height:100%;">
															<ng-gauge size="170" duration="500" type="arch" thick="15" value="pdasAnalysisVM.iStockRateInfo.value" cap="round" label="재고율"  
																thresholds='pdasAnalysisVM.iStockRateInfo.threshold' foreground-color="#ffcc66" background-color="rgba(255,255,255, 0.4)" append="%"></ng-gauge>
														</div>
												</div>
										</div>
								</div>
						</div>
						<div class="col-md-6" style="height:100%;">
								<div class="row" style="height:4%;">
									<div class='col-md-3'>
										<span class="label label-primary" style='font-size:14px'> Cycle Time(sec)</span>
									</div>
									<div class='col-md-9' style='text-align:right;'>
										<span>
											<label style='color:white; font-size:12px'> AVG </label>
											<label id='ID_PDAS_avgCycleTime' style='color:#e67300; font-size:14px'> {{pdasAnalysisVM.avgCycleTime}} </label>
											<label style='color:white; font-size:12px'> &nbsp; &nbsp; &nbsp; &nbsp; MIN </label>
											<label id='ID_PDAS_minCycleTime' style='color:#e67300; font-size:14px'> {{pdasAnalysisVM.minCycleTime}} </label>
											<label style='color:white; font-size:12px'> &nbsp; &nbsp; &nbsp; &nbsp; MAX </label>
											<label id='ID_PDAS_maxCycleTime' style='color:#e67300; font-size:14px'> {{pdasAnalysisVM.maxCycleTime}} </label>
										</span>
									</div>
								</div>
								<div class="row" style="height:41%;">
									<div class='col-md-12' style='height:100%; margin-top:1%'>
										<canvas id="ID_PDAS_cycleTimeChart" style="height:100%; width:100%;"></canvas>
									</div>
								</div>
								<div class="row" style="height:3%;">
									<div class='col-md-3' style='margin-top:3%'>
										<span class="label label-primary" style='font-size:14px'> 재고율(%)</span>
									</div>
									<div class='col-md-9' style='text-align:right; margin-top:3%'>
										<span>
											<label style='color:white; font-size:12px'> AVG </label>
											<label id='ID_PDAS_avgIStockRate' style='color:#e67300; font-size:14px'> {{pdasAnalysisVM.avgIStockRate}} </label>
											<label style='color:white; font-size:12px'> &nbsp; &nbsp; &nbsp; &nbsp; MIN </label>
											<label id='ID_PDAS_minIStockRate' style='color:#e67300; font-size:14px'> {{pdasAnalysisVM.minIStockRate}} </label>
											<label style='color:white; font-size:12px'> &nbsp; &nbsp; &nbsp; &nbsp; MAX </label>
											<label id='ID_PDAS_maxIStockRate' style='color:#e67300; font-size:14px'> {{pdasAnalysisVM.maxIStockRate}} </label>
										</span>
									</div>
								</div>
								<div class="row" style="height:41%;">
									<div class='col-md-12' style='height:100%; margin-top:1%'>
										<canvas id="ID_PDAS_iStockRateChart" , style="height:100%; width:100%;"></canvas>
									</div>
								</div>
						</div>
					</div>
					<div class="row" style="height:2%"></div>
					<div class="row" style="height:2%">
						<span class="label label-primary" style='font-size:14px'>Trend분석(종합효율)</span>
					</div>
					<div class="row" style="height:21%; background-color:#486268">
						<div style="height:100%">
							<canvas id="ID_PDAS_OEETrendChart" style="height:100%; width:90%;"></canvas>
						</div>
					</div>
					<div class="row" style="height:2%; padding-top:10px">
						<div class='col-6-md' style='float:right'>
							<button class="btn btn-primary" id='ID_PDAS_analysisPrint' type="button" ng-click='pdasAnalysisVM.previewAnalysisResult()'> Print </button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer" style="height:3%; background-color: #ffffff;">
				<div class="container-fluid"></div>
			</div>
			<div id="ID_PDAS_analysisSpinner" style="height:200px; position: absolute;top: 50%;left: 50%"></div>
      <!-- pdasAnalysisController.js start-->
		<script><% include ./pdasAnalysisController.js %></script>
		<% include ./pdas_configSetting.ejs %>
		<!-- pdasAnalysisController.js start-->
		</div>
	</div>
</div>

<script>
	$.fn.spin = function(opts) {
		this.each(function() {
			var $this = $(this),
				spinner = $this.data('spinner');
			if (spinner) spinner.stop();
			if (opts !== false) {
				opts = $.extend({color: $this.css('color')}, opts);
				spinner = new Spinner(opts).spin(this);
				$this.data('spinner', spinner);
			}
		});
		return this;
	};

	$('#ID_PDAS_configSettingModalBtn').on('click', function(){
		$('#ID_PDAS_configSettingModal').modal({
			backdrop: 'static'
		});
		$('#ID_PDAS_initConfigSettingData').trigger('click');
	});
</script>