#pdasAnalysisModal.modal.fade(role='dialog')
    .modal-dialog(style='width:1200px; height:1400px; background-color: #646464;')
        .modal-contents(style='width:100%; height:100%')
            .modal-header(style='height: 5%; background-color: #ffffff; color:#FFF')
                div.container-fluid
                    div.row
                        div.col-sm-10
                            h3.modal-title(style='text-align:left; color:black') PAS
                        div.col-sm-1
                            button.btn.btn-primary.btn-sm(type='button')
                                span.glyphicon.glyphicon-cog
                        div.col-sm-1
                            button.close(type='button', data-dismiss='modal') x
            .modal-body(ng-app='pdasAnalysisApp', ng-controller='pdasAnalysisController as analysis', style='height:90%;')
                div.container-fluid(style='height:100%')
                    div.row(style='height:5%')
                        div.col-sm-8
                        div.col-sm-4(style='float:right')
                            div.col-xs-4
                                label(style='color:white;') 기간  
                                select#period.form-control(ng-model='selectedPeriod' ng-options='x.title for x in period', ng-change='selectPeriod()')
                            div.col-xs-4
                                label(for='machine' style='color:white;') 호기
                                select#machine.form-control(ng-model='selectedMachine' ng-options='x.title for x in machines', ng-change='filteringCurrentData()' )
                    div.row(style='height:4%')
                        button.btn.btn-primary(type='button') Trend분석(전류데이터)
                    div.row(style='height:29%; background-color:#486268')
                        div.col-sm-3(style='height:10%; float:right')
                            label.checkbox-inline(style='color:white; font-size:70%') 주행모터
                            input(type='checkbox' ng-model='motorType.DrivingMotor' ng-change='filteringCurrentData()' ng-true-value='DrivingMotor' ng-false-value='')
                            label.checkbox-inline(style='color:white; font-size:70%') 승강모터
                            input(type='checkbox' ng-model='motorType.HoistingMotor' ng-change='filteringCurrentData()' ng-true-value='HoistingMotor' ng-false-value='')
                            label.checkbox-inline(style='color:white; font-size:70%') 포크모터
                            input(type='checkbox' ng-model='motorType.ForkMotor' ng-change='filteringCurrentData()' ng-true-value='ForkMotor' ng-false-value='')
                        div(style='height:90%')
                            canvas(id='currentTrendChart', style='height:100%; width:90%; margin:10')
                    div.row(style='height:1%')                            
                    div.row(style='height:30%;')
                        div.col-sm-6(style='height:100%;background-color:#486268')
                            div.row(style='height:10%;')
                                button.btn.btn-primary(type='button') 설비종합효율(%)
                            div.row(style='height:90%; border:1px #f99 solid')
                        div.col-sm-6(style='height:100%;background-color:#486268')
                            div.row(style='height:10%;')
                                button.btn.btn-primary(type='button') Cycle Time(sec)
                            div.row(style='height:40%;border:1px #f99 solid')
                            div.row(style='height:10%;')
                                button.btn.btn-primary(type='button') 재고현황(%)
                            div.row(style='height:40%; border:1px #f99 solid')
                    div.row(style='height:2%')
                    div.row(style='height:28%; background-color:#486268')
                        div.row(style='height:10%')
                            div.col-sm-12
                                button.btn.btn-primary(type='button') Trend분석(종합효율)
            .modal-footer(style='height:5%')
            script(src='/pdas/pdasAnalysisController.js')