<div class="container-fluid" style="height: 100%; width:100%; margin:0; padding-left:10px" >
  <div class='row' style='height:10%;'>
    <div class='col-md-12'>
      <h4>실시간 S/C 모터별 전류(단위:A)
    </div>
  </div>
  <div class='row' style='height:50%'>
    <div class='col-md-12'>
      <ul id = 'ID_PDAS_DASH_realTimeCurrent' style='list-style-type: none'>
      </ul>
    </div>
  </div>
  <div class='row' style='height:30%;'>
    <div class='col-md-12'>
      <h4>설비종합효율(단위:%)
    </div>
  </div>
  <div class='row' style='height:10%;'>
      <div class='col-md-11'>
        <span style='font-size:14px;'>종합효율:</span>
          <label id='ID_PDAS_DASH_oee' style='color:darkorange; font-size:20px;'>
      </div>
      <div class='col-md-1' style='float:right; padding:0'>
        <button class="btn btn-primary" id='ID_PDAS_DASH_btnAnalysis' type="button">더보기</button>
      </div>
  </div>
      <!-- pdas_analysis.ejs start-->
      <% include ./pdas/pdas_analysis.ejs %>
      <!-- pdas_analysis.ejs end-->
</div>

<script src="/socket.io/socket.io.js"></script>
<style>
  li.pdasDashRTCurrent {
    float: left;
    padding:15px;
  }
</style>