        <script src="/jsBarcode/JsBarcode.all.min.js"></script>
        <style>
          .top-nav>li>ul.nav>li>a:hover,
          .top-nav>li>ul.nav>li>a:focus{
              background-color: gray;
          }
          
        </style>
        <div style="display: table-cell; vertical-align: middle">
          <div style="margin-left: auto; margin-right: auto">
            <div style="float: left"><span style="color: #FFFFFF"><%=__('home')%></span></div>
            <div style="float: right;">
              <ul class="nav navbar-nav top-nav">
                <li>
                  <ul class="nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i style="color: #FFFFFF" class="fa fa-user fa-2x"></i>
                        <label id="ID_HEADER_LogInUserName" style="color: #FFFFFF"> Admin</label><b style="color: #FFFFFF" class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> Profile</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#ID_HEADER_UserManagementModal" ng-click="dashVM.headerOnUserManagementLoad()"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul class="nav">
                    <li class="dropdown"><a href="#" data-toggle="modal" data-target="#ID_HEADER_NoticeManagementModal" ng-click="dashVM.headerOnNoticeManagementLoad()" class="dropdown-toggle"><i style="color: #FFFFFF" class="fa fa-bell-o fa-2x"></i>
                        <label style="color: #FFFFFF">Board</label><span style="background:red; position:relative; top: -20px; left: -75px;" ng-bind="dashVM.headerNoticeNewCount" class="badge badge-notify"></span></a></li>
                  </ul>
                </li>
              </ul>
            </div>    			         
			<!--/ dash_header_user.ejs start-->
		    <% include ./dash_header_user.ejs %>            
            <!--/ dash_header_user.ejs end-->
			
			<!--/ dash_header_board.ejs start-->
			<% include ./dash_header_board.ejs %>            		  
            <!--/ dash_header_board.ejs end-->		    
          </div>
        </div>