        
div.container(style='height: 100%; width:100%')
    div(style='height: 30%; background-color:#FFFFCC')        
        h6 summary
    div
        a(href="/pms") 가자 PMS로
    div(style='height: 70%;')
        div#dbCalendar(style='max-width: 900px; margin: 0 auto')        