        <div style="height: 100%; width:100%" class="container">
          <div style="height: 30%; background-color:#FFFFCC">       
            <h6>summary</h6>
          </div>
          <div><a href="./pms/pms_main">PMS Configuration</a></div>
          <div style="height: 70%;">
            <div id="dbCalendar" style="max-width: 900px; margin: 0 auto">       </div>
          </div>
        </div>