<div style="height: 100%; width:100%; margin:0; padding:0" class="container">
  <div id="pdas_center_contents" style="height: 45%; width:100%; border:2px #f99 solid">center</div>
  <div id="pdas_bottom_contents" style="height: 45%; width:100%; border:2px #f99 solid">bottom</div>
  <div style="height: 10%; width:100%; border:2px #f99 solid">
    <div style="height: 10%; width:20%; float:right; border:2px #f99 solid">
      <button type="button" data-toggle="modal" data-target="#pdasAnalysisModal" data-backdrop="static"  class="detail">더보기</button>
      <!-- pdas_analysis.ejs start-->
      <% include ./pdas/pdas_analysis.ejs %>
      <!-- pdas_analysis.ejs end-->
    </div>
  </div>
</div>