script(src='/jsBarcode/JsBarcode.all.min.js')

style.
    .top-nav>li>ul.nav>li>a:hover,
    .top-nav>li>ul.nav>li>a:focus{
        background-color: gray;
    }

div(style='display: table-cell; vertical-align: middle')
    div(style='margin-left: auto; margin-right: auto')
        div(style='float: left')
            span(style='color: #FFFFFF') #{__('home')}
        div(style='float: right;')
            ul.nav.navbar-nav.top-nav
                li
                    ul.nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown')
                                i.fa.fa-user.fa-2x(style='color: #FFFFFF')
                                label#userName(style='color: #FFFFFF')  #{user.UserName}
                                b.caret(style='color: #FFFFFF')
                            ul.dropdown-menu
                                li
                                    a(href='#')
                                        i.fa.fa-fw.fa-user
                                        |  Profile
                                li
                                    a(href='#' data-toggle='modal', data-target="#userManagementModal", ng-click="onUserManagementLoad()")
                                        i.fa.fa-fw.fa-gear
                                        |  Settings
                                li.divider
                                li
                                    a(href='#')
                                        i.fa.fa-fw.fa-power-off
                                        |  Logout
                li
                    ul.nav
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='modal', data-target="#noticeManagementModal" ng-click="onNoticeManagementLoad()")
                                i.fa.fa-bell-o.fa-2x(style='color: #FFFFFF')
                                label(style='color: #FFFFFF') Board
                                span#noticeNewCount.badge.badge-notify(style="background:red; position:relative; top: -20px; left: -75px;" ng-bind="noticeNewCount")

        include dash_header_user
        include dash_header_board
                            