<div style="height: 100%; width:100%; margin:0; padding:0" class="container">
  <div id="ID_WEMS_top_content" style="height: 6%; width:100%; border:2px #f99 solid"></div>
  <div id="ID_WEMS_center_content" style="height: 47%; width:100%; border:2px #f99 solid">
    <div id="ID_WEMS_cLeft_content" style="height: 100%; width:50%; float:left; border:2px #f99 solid">
      <canvas>Guage Chart</canvas>
    </div>
    <div id="ID_WEMS_cRight_content" style="height: 100%; width:50%; float:right; border:2px #f99 solid">
      <canvas id="ID_WEMS_powerEfficiencyPerDevice" style="text-align:right"></canvas>
    </div>
  </div>
  <div id="ID_WEMS_bottom_content" class="container" style="height: 47%; width:100%; border:2px #f99 solid">
    <div id="ID_WEMS_bLeft_content" style="height: 100%; width:90%; float:left; border:2px #f99 solid">
      <canvas id="ID_WEMS_powerEfficiencyPerDate" style="height: 100%; width: 100%; border:2px #f99 solid"></canvas>
    </div>
    <div id="ID_WEMS_bRight_content" style="height: auto; width:10%; float:right; text-align:center; border:2px #f99 solid">
      <button type="button" data-toggle="modal" data-target="#ID_WEMS_detailModal" data-backdrop="static" data-keyboard="false" class="btn btn-primary btn-md">
        <%=__('S_WEMS_detail')%>
      </button>
      <!-- wems_detail_layout.ejs start-->
      <% include ./wems/wems_detail_layout.ejs %>
      <!-- wems_detail_layout.ejs end-->
    </div>
  </div>
</div>